click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.11.2
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
mysql-connector-python==8.0.28
mysqlclient==2.1.0
protobuf==3.20.0
PyMySQL==1.0.2
SQLAlchemy==1.4.34
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.7.0
