#toolbar {
  border-style: none;
}

.logo-image-small {
  margin-top: 10px;
  margin-bottom: 15px;
  float: left;
  width: 200;
  height: 50;
}

#inputToolbar {
  width: 40%;
  height: 38px;
  margin-top: 30px;
  margin-bottom: 15px;
  float: left;
}

#readInputToolbar {
  margin-top: 30px;
  margin-bottom: 15px;  
  float: left;
}

.horizontal {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

.auto-complete-list > li {
  border-bottom: 1px solid lightgray;
  border-image: none;
  padding: 10px;
  list-style-type: none;
  z-index: 2;
  width: 80%;
}
