<!doctype html>
<html>
	<head>
		<head>
		<title>CyberMiner</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>

	<body>
		<center>
			<h1>Cyber Miner</h1>
			<form method="POST" action="/searchWord">
				<div class="form-group">
					<input style="height: 40px; width: 40%;" type="text" value="" name="search_box" autofocus/>	
				</div>	
				<br />
				<input style="height: 40px; width: 10%; font-size: 20px; text-align: center;" class="btn btn-primary" type="submit" name="search" value="Search" />
			</form>
		</center>
	</body>
</html>